#!/usr/bin/env python3

import argparse
import logging
import os
import socket

import connexion
from connexion import request
{{#featureCORS}}
from flask_cors import CORS
{{/featureCORS}}
from flask_compress import Compress
from requests import Response

from alpha.utils.logging_configurator import LoggingConfigurator
from alpha.encoder import JSONEncoder
{{#initContainerFunction}}from {{^initContainerFrom}}{{servicePackage}}{{/initContainerFrom}}{{#initContainerFrom}}{{initContainerFrom}}{{/initContainerFrom}} import {{initContainerFunction}}{{/initContainerFunction}}

from {{packageName}} import controllers

port={{serverPort}}

if os.getenv('FLASK_ENV') != 'production':
    parser = argparse.ArgumentParser(
        description='Port for server to start on.'
    )
    parser.add_argument(
        '--port',
        type=int,
        required=False,
        default={{serverPort}}
    )
    args = parser.parse_args()
    port = args.port

app = connexion.App(__name__, specification_dir='./openapi/')
app.app.json_encoder = JSONEncoder

compress = Compress()
compress.init_app(app.app)

{{#initContainerFunction}}
container = init_container()
container.wire(packages=[controllers])

{{^disableLoggingConfigurator}}
LoggingConfigurator(
    config=container.config.logging.config(),
    fmt=container.config.logging.format(),
    handlers=container.config.logging.handlers(),
    level=container.config.logging.level(),
    stream=container.config.logging.stream(),
)
{{/disableLoggingConfigurator}}
{{#featureCORS}}
origins = container.config.cors.origins()
supports_credentials = container.config.cors.supports_credentials()

if origins is None:
    logging.info(
        "CORS origins not configured, defaulting to allow all origins"
    )
    origins = ["*"]
logging.info(f"Enabling CORS for origins: {origins}")
CORS(
    app.app,
    origins=origins,
    supports_credentials=supports_credentials or False,
    resources=container.config.cors.resources() or {},
    methods=container.config.cors.methods() or ["GET", "HEAD", "POST", "OPTIONS", "PUT", "PATCH", "DELETE"],
    allow_headers=container.config.cors.allow_headers() or "*",
    expose_headers=container.config.cors.expose_headers(),
    max_age=container.config.cors.max_age(),
    vary_header=container.config.cors.vary_header() or True,
    send_wildcard=container.config.cors.send_wildcard() or False,
)
{{/featureCORS}}
{{/initContainerFunction}}

app.add_api(
    'openapi.yaml',
    arguments={'title': '{{appName}}'},
    pythonic_params=True
)
{{#initContainerFunction}}app.container = container{{/initContainerFunction}}


@app.app.after_request
def add_headers(response: Response):
    response_headers = container.config.response.headers()
    is_swagger_ui_request = request.path == "/ui" or request.path.startswith(
        "/ui/"
    )

    if response_headers is None:
        response_headers = {
            "Cache-Control": "no-store",
            "Content-Security-Policy": "default-src 'self'",
            "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
            "X-Content-Type-Options": "nosniff",
            "X-Frame-Options": "DENY",
        }
    for header, value in response_headers.items():
        if (
            is_swagger_ui_request
            and header.lower() == "content-security-policy"
        ):
            continue
        response.headers[header] = value
    {{#featureCORS}}
    request_origin = request.headers.get("Origin", None)
    if supports_credentials and request_origin:
        response.headers["Access-Control-Allow-Origin"] = request_origin
        response.headers["Access-Control-Allow-Credentials"] = "true"
    {{/featureCORS}}
    return response

logging.info(f'Started {{servicePackage}} API on \'{socket.gethostname()}\'')

if __name__ == '__main__':
    app.run(port=port)
