import connexion
import json
import six
import traceback
import logging
from typing import Dict
from typing import Tuple
from typing import Union
from typing import List

{{containerImport}}
from alpha.factories.request_factory import RequestFactory
from alpha.factories.response_factory import ResponseFactory
from alpha.encoder import JSONEncoder
from alpha.utils.logging_level_checker import logging_level_checker
from alpha.utils.response_object import create_response_object
from alpha.utils.request_headers import Headers
from alpha.utils.verify_identity import verify_identity
from alpha.utils._http_codes import http_codes_{{#languageCode}}{{languageCode}}{{/languageCode}}{{^languageCode}}en{{/languageCode}} as http_codes
from alpha.exceptions import (
    BadRequestException,
    UnauthorizedException,
    ForbiddenException,
    NotFoundException,
    MethodNotAllowedException,
    NotAcceptableException,
    ConflictException,
    PayloadTooLargeException,
    UnprocessableContentException,
    ServerErrorException,
    InternalServerErrorException,
    NotImplementedException,
    BadGatewayException,
    ServiceUnavailableException,
    GatewayTimeoutException
)
from dependency_injector.wiring import inject, Provide

from {{packageName}} import util
from {{packageName}} import models as api_models
{{#imports}}{{import}}  # noqa: E501
{{/imports}}

{{#operations}}
{{#operation}}
{{#authMethods}}{{#vendorExtensions.x-alpha-service-name}}@inject{{/vendorExtensions.x-alpha-service-name}}{{/authMethods}}
{{^authMethods}}{{#vendorExtensions.x-alpha-service-name}}@inject{{/vendorExtensions.x-alpha-service-name}}{{/authMethods}}
{{#authMethods}}{{^vendorExtensions.x-alpha-service-name}}@inject{{/vendorExtensions.x-alpha-service-name}}{{/authMethods}}
def {{operationId}}(
    {{#allParams}}{{^isBodyParam}}{{paramName}}{{^required}}=None{{/required}},{{/isBodyParam}}{{/allParams}}
    {{#authMethods}}{{#isBasicBearer}}token_factory=Provide[Container.token_factory],{{/isBasicBearer}}{{/authMethods}}
    {{#vendorExtensions.x-alpha-service-name}}{{vendorExtensions.x-alpha-service-name}}=Provide[Container.{{vendorExtensions.x-alpha-service-name}}],{{/vendorExtensions.x-alpha-service-name}}
) -> {{#returnType}}{{.}}{{/returnType}}{{^returnType}}None{{/returnType}}:  # noqa: E501
    """{{summary}}{{^summary}}{{operationId}}{{/summary}}

    {{notes}} # noqa: E501

    {{#allParams}}
    :param {{paramName}}: {{description}}
        {{^isContainer}}
            {{#isPrimitiveType}}
    :type {{paramName}}: {{>param_type}}
            {{/isPrimitiveType}}
            {{#isUuid}}
    :type {{paramName}}: {{>param_type}}
            {{/isUuid}}
            {{^isPrimitiveType}}
                {{#isFile}}
    :type {{paramName}}: werkzeug.datastructures.FileStorage
                {{/isFile}}
                {{^isFile}}
                    {{^isUuid}}
    :type {{paramName}}: dict | bytes
                    {{/isUuid}}
                {{/isFile}}
            {{/isPrimitiveType}}
        {{/isContainer}}
        {{#isArray}}
            {{#items}}
                {{#isPrimitiveType}}
    :type {{paramName}}: List[{{>param_type}}]
                {{/isPrimitiveType}}
                {{^isPrimitiveType}}
    :type {{paramName}}: list | bytes
                {{/isPrimitiveType}}
            {{/items}}
        {{/isArray}}
        {{#isMap}}
            {{#items}}
                {{#isPrimitiveType}}
    :type {{paramName}}: Dict[str, {{>param_type}}]
                {{/isPrimitiveType}}
                {{^isPrimitiveType}}
    :type {{paramName}}: dict | bytes
                {{/isPrimitiveType}}
            {{/items}}
        {{/isMap}}
    {{/allParams}}

    :rtype: Union[{{returnType}}{{^returnType}}None{{/returnType}}, Tuple[{{returnType}}{{^returnType}}None{{/returnType}}, int], Tuple[{{returnType}}{{^returnType}}None{{/returnType}}, int, Dict[str, str]]
    """
    {{#vendorExtensions.x-alpha-import}}
    {{.}}
    {{/vendorExtensions.x-alpha-import}}

    {{#allParams}}
        {{^isContainer}}
            {{#isDate}}
    {{paramName}} = util.deserialize_date({{paramName}})
            {{/isDate}}
            {{#isDateTime}}
    {{paramName}} = util.deserialize_datetime({{paramName}})
            {{/isDateTime}}
            {{^isPrimitiveType}}
                {{^isFile}}
                    {{^isUuid}}
                        {{^vendorExtensions.x-alpha-filelist}}
    if connexion.request.is_json:
        {{paramName}} = {{baseType}}{{^baseType}}{{#dataType}} {{.}}{{/dataType}}{{/baseType}}.from_dict(connexion.request.get_json())  # noqa: E501
                        {{/vendorExtensions.x-alpha-filelist}}
                        {{#vendorExtensions.x-alpha-filelist}}
    if connexion.request.files:
        {{paramName}} = []
        for file_list in connexion.request.files:
            for f in connexion.request.files.getlist(file_list):
                {{paramName}}.append(f)
                        {{/vendorExtensions.x-alpha-filelist}}
                    {{/isUuid}}
                {{/isFile}}
            {{/isPrimitiveType}}
        {{/isContainer}}
        {{#isArray}}
            {{#items}}
                {{#isDate}}
    if connexion.request.is_json:
        {{paramName}} = [util.deserialize_date(s) for s in connexion.request.get_json()]  # noqa: E501
                {{/isDate}}
                {{#isDateTime}}
    if connexion.request.is_json:
        {{paramName}} = [util.deserialize_datetime(s) for s in connexion.request.get_json()]  # noqa: E501
                {{/isDateTime}}
                {{#complexType}}
    if connexion.request.is_json:
        {{paramName}} = [{{complexType}}.from_dict(d) for d in connexion.request.get_json()]  # noqa: E501
                {{/complexType}}
            {{/items}}
        {{/isArray}}
        {{#isMap}}
            {{#items}}
                {{#isDate}}
    if connexion.request.is_json:
        {{paramName}} = {k: util.deserialize_date(v) for k, v in six.iteritems(connexion.request.get_json())}  # noqa: E501
                {{/isDate}}
                {{#isDateTime}}
    if connexion.request.is_json:
        {{paramName}} = {k: util.deserialize_datetime(v) for k, v in six.iteritems(connexion.request.get_json())}  # noqa: E501
                {{/isDateTime}}
                {{#complexType}}
    if connexion.request.is_json:
        {{paramName}} = {k: {{baseType}}.from_dict(v) for k, v in six.iteritems(connexion.request.get_json())}  # noqa: E501
                {{/complexType}}
            {{/items}}
        {{/isMap}}
        {{^isContainer}}
            {{response}}
        {{/isContainer}}
    {{/allParams}}

    if logging_level_checker("debug"):
        payload = json.dumps(
            dict(
                {{#allParams}}
                {{#vendorExtensions.x-alpha-filelist}}
                {{paramName}}="binary-file-object",
                {{/vendorExtensions.x-alpha-filelist}}
                {{^vendorExtensions.x-alpha-filelist}}
                {{^isBinary}}
                {{#isBodyParam}}
                {{^isArray}}
                {{paramName}}={{paramName}}.to_dict(),
                {{/isArray}}
                {{#isArray}}
                {{paramName}}=[obj.to_dict() for obj in {{paramName}}],
                {{/isArray}}
                {{/isBodyParam}}
                {{^isBodyParam}}
                {{paramName}}={{paramName}},
                {{/isBodyParam}}
                {{/isBinary}}
                {{/vendorExtensions.x-alpha-filelist}}
                {{/allParams}}
            ),
            cls=JSONEncoder
        )
        logging.debug(f"using these parameters: {payload}")

    headers = Headers.from_headers(connexion.request.headers)

    auth_token = headers.auth_token if headers.has_auth_token else None
    refresh_token = headers.refresh_token
    api_key = headers.api_key

    {{#vendorExtensions.x-alpha-factory}}
    factory = {{vendorExtensions.x-alpha-factory}}
    {{#allParams}}
    {{#isBodyParam}}
    {{^isArray}}
    {{paramName}} = factory(**{{paramName}}.to_dict())
    {{/isArray}}
    {{#isArray}}
    {{paramName}} = [factory(**obj.to_dict()) for obj in {{paramName}}]
    {{/isArray}}
    {{/isBodyParam}}
    {{/allParams}}
    {{/vendorExtensions.x-alpha-factory}}

    response_object_function = {{^vendorExtensions.x-alpha-custom-response-builder}}create_response_object{{/vendorExtensions.x-alpha-custom-response-builder}}{{#vendorExtensions.x-alpha-custom-response-builder}}{{vendorExtensions.x-alpha-custom-response-builder}}{{/vendorExtensions.x-alpha-custom-response-builder}}
    
    try:
        # Objects used for authorization
        roles=[{{#vendorExtensions.x-alpha-verify-roles}}"{{.}}",{{/vendorExtensions.x-alpha-verify-roles}}]
        groups=[{{#vendorExtensions.x-alpha-verify-groups}}"{{.}}",{{/vendorExtensions.x-alpha-verify-groups}}]
        permissions=[{{#vendorExtensions.x-alpha-verify-permissions}}"{{.}}",{{/vendorExtensions.x-alpha-verify-permissions}}]
        {{#authMethods}}
        {{#isBasicBearer}}
        # Validate authentication token
        if auth_token is None:
            raise UnauthorizedException('Missing authentication token')
        token_factory.validate(auth_token)

        # Get auth token payload and verify identity
        identity = token_factory.get_payload(auth_token)
        verify_identity(identity,
            roles=roles,
            groups=groups,
            permissions=permissions,
        )
        {{/isBasicBearer}}
        {{#isApiKey}}
        # This needs to be replaced by code to authenticate with an API key
        {{/isApiKey}}
        {{/authMethods}}
        
        # Call method or use variable
        {{#vendorExtensions.x-alpha-request-factory}}
            {{#vendorExtensions.x-alpha-service-name}}
                {{#vendorExtensions.x-alpha-service-method}}
        result = RequestFactory(
            {{vendorExtensions.x-alpha-service-name}}.{{vendorExtensions.x-alpha-service-method}}
        ).__call__(
            {{#allParams}}{{paramName}}={{paramName}},{{/allParams}}
            {{#vendorExtensions.x-alpha-service-additional-parameters}}{{.}}={{.}},
            {{/vendorExtensions.x-alpha-service-additional-parameters}}
        )
                {{/vendorExtensions.x-alpha-service-method}}
            {{/vendorExtensions.x-alpha-service-name}}
            {{^vendorExtensions.x-alpha-service-name}}
                {{#vendorExtensions.x-alpha-custom-function}}
        result = {{vendorExtensions.x-alpha-custom-function}}
                {{/vendorExtensions.x-alpha-custom-function}}
            {{/vendorExtensions.x-alpha-service-name}}
        {{/vendorExtensions.x-alpha-request-factory}}

        {{^vendorExtensions.x-alpha-request-factory}}
            {{^vendorExtensions.x-alpha-service-name}}
                {{^vendorExtensions.x-alpha-custom-function}}
        raise ServerErrorException('Missing x-alpha-service-name in API specification')
                {{/vendorExtensions.x-alpha-custom-function}}
                {{^vendorExtensions.x-alpha-service-method}}
                    {{^vendorExtensions.x-alpha-custom-function}}
        raise ServerErrorException('Missing x-alpha-service-method in API specification')
                    {{/vendorExtensions.x-alpha-custom-function}}
                {{/vendorExtensions.x-alpha-service-method}}
                {{#vendorExtensions.x-alpha-custom-function}}
        result = {{vendorExtensions.x-alpha-custom-function}}
                {{/vendorExtensions.x-alpha-custom-function}}
            {{/vendorExtensions.x-alpha-service-name}}
            {{#vendorExtensions.x-alpha-service-name}}
                {{#vendorExtensions.x-alpha-service-method}}
        result = {{vendorExtensions.x-alpha-service-name}}.{{vendorExtensions.x-alpha-service-method}}(
            {{#allParams}}{{paramName}}={{paramName}},{{/allParams}}
            {{#vendorExtensions.x-alpha-service-additional-parameters}}{{.}}={{.}},{{/vendorExtensions.x-alpha-service-additional-parameters}}
        )
                {{/vendorExtensions.x-alpha-service-method}}
            {{/vendorExtensions.x-alpha-service-name}}
        {{/vendorExtensions.x-alpha-request-factory}}
    
    {{#responses}}
    {{#is2xx}}
        {{#vendorExtensions.x-alpha-raw-response}}
        return result
        {{/vendorExtensions.x-alpha-raw-response}}
        {{^vendorExtensions.x-alpha-raw-response}}
        {{#vendorExtensions.x-alpha-debug-response}}

        if logging_level_checker("debug"):
            logging.debug(f"returning response: {json.dumps(result, cls=JSONEncoder)}")

        {{/vendorExtensions.x-alpha-debug-response}}
        {{#returnType}}
        {{#vendorExtensions.x-alpha-response-factory}}
        result = ResponseFactory().process(
            response=result,
            cls={{vendorExtensions.x-alpha-response-factory}}
        )
        {{/vendorExtensions.x-alpha-response-factory}}
        return response_object_function(
            http_codes=http_codes,
            status_code={{code}},
            status_message='{{message}}',
            data=result,
            {{#vendorExtensions.x-content-type}}data_type='{{vendorExtensions.x-content-type}}'{{/vendorExtensions.x-content-type}}
            {{#vendorExtensions.x-alpha-cookie-support}}response_type='flask'{{/vendorExtensions.x-alpha-cookie-support}}
        )
        {{/returnType}}
        {{^returnType}}
        return response_object_function(
            http_codes=http_codes,
            status_code=204,
            status_message='{{message}}',
            {{#vendorExtensions.x-alpha-cookie-support}}data=result, response_type='flask'{{/vendorExtensions.x-alpha-cookie-support}}
        )
        {{/returnType}}
        {{/vendorExtensions.x-alpha-raw-response}}
    {{/is2xx}}
    
    {{#is4xx}}
        {{#vendorExtensions.x-alpha-exception}}
    except {{vendorExtensions.x-alpha-exception}} as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code={{code}},
            status_message=f'{exc}'
        )
        {{/vendorExtensions.x-alpha-exception}}
    {{/is4xx}}
    {{#is5xx}}
        {{#vendorExtensions.x-alpha-exception}}
    except {{vendorExtensions.x-alpha-exception}} as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code={{code}},
            status_message=f'{exc}'
        )
        {{/vendorExtensions.x-alpha-exception}}
    {{/is5xx}}
    {{/responses}}
    except BadRequestException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=400,
            status_message=f'{exc}'
        )
    except UnauthorizedException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=401,
            status_message=f'{exc}'
        )
    except ForbiddenException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=403,
            status_message=f'{exc}'
        )
    except NotFoundException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=404,
            status_message=f'{exc}'
        )
    except MethodNotAllowedException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=405,
            status_message=f'{exc}'
        )
    except NotAcceptableException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=406,
            status_message=f'{exc}'
        )
    except ConflictException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=409,
            status_message=f'{exc}'
        )
    except PayloadTooLargeException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=413,
            status_message=f'{exc}'
        )
    except UnprocessableContentException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=422,
            status_message=f'{exc}'
        )
    except NotImplementedException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=501,
            status_message=f'{exc}'
        )
    except BadGatewayException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=502,
            status_message=f'{exc}'
        )
    except ServiceUnavailableException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=503,
            status_message=f'{exc}'
        )
    except GatewayTimeoutException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=504,
            status_message=f'{exc}'
        )
    except ServerErrorException as exc:
        return response_object_function(
            http_codes=http_codes,
            status_code=500,
            status_message=f'{exc}'
        )
    except Exception as exc:
        traceback.print_exc()
        return response_object_function(
            http_codes=http_codes,
            status_code=500,
            status_message=f'{exc}'
        )

{{/operation}}
{{/operations}}
