# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      ldap:
        image: osixia/openldap:1.5.0
        ports:
          - 389:389
        env:
          LDAP_ORGANISATION: "Example Org"
          LDAP_DOMAIN: "example.org"
          LDAP_ADMIN_PASSWORD: test_password
        options: >-
          --health-cmd="ldapsearch -x -H ldap://localhost -b dc=example,dc=org"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
          --command="--copy-service"
          --volume ./integration_test_deps/ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom:ro

      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: mysql
          MYSQL_DATABASE: mysql
        options: >-
          --health-cmd="mysqladmin ping -h localhost" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

      postgresql:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd="pg_isready -U postgres" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=5

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
    - name: Lint with ruff
      run: |
        # stop the build if there are Python syntax errors or undefined names
        uv run ruff check ./src
    - name: Test with pytest
      run: |
        uv run pytest
